
.profile-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
}

#profile-div2{
    border: none;
}

#profile-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid hsl(57, 69%, 94%);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    color: hsl(57, 69%, 94%);
    text-align: center;
    font-size: 2rem;

}

#profile-div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    border: none;
    
}   

#profile-div3 {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: none;
    width: max-content;
    height: max-content;
}

#profile-div4, #profile-div5, #profile-div6 {
    font-size: 1.5rem;
    width: auto;
    height: max-content;
    border:none;
}

#profile-name {
    margin: 0;
    font-size: 2.5rem;
}

#profile-title {
    margin: 0;
    font-size: 1.7rem;
    font-weight: normal;
    color: hsla(277, 82%, 80%, 0.881);
}

#profile-div4 {
    grid-row-start: 4;
}

#profile-div5 {
    grid-row-start: 4;
}

#profile-div6 {
    grid-row-start: 4;
}
        